body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
aside {
  background: #fff;
  color: #222;
  display: inline-table;
  float: left;
  padding: 20px;
}

.content {
  width:70%;
  display: inline-block;
  text-align: center;
}

.content p {
  padding: 0 25px;
  color: #aaa;
  text-align: center;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}

.tabContainer {
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  display: none;
  width: 400px;
  margin: auto;
}

.tabs.visible {
  display: block;
}

.tabs button:not(.accordion) {
  width: 33.33%;
  border: 1px solid #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.tabcontent.active {
  display: block;
}

ul.menu {
  display: inline-block;
  padding: 0;
  border: 1px solid;
  margin: 0 0 20px;
}

ul.side-menu {
  display: block;
  padding: 0;
  margin: 5px;
}

ul.side-menu li {
  list-style: none;
  display: block;
}

menu img {
  width: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 15px;
}

ul.menu li {
  list-style: none;
  display: inline-block;
}

button {
  padding: 10px;
  cursor: pointer;
  border-color: aliceblue;
}

button.active {
  background-color: red;
  color: white;
  outline: none;
}

button:hover {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
}

.accordion-tab {
  overflow: hidden;
  position: relative;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.panel {
    padding: 30px 18px;
    background-color: #eff;
    display: none;
    transition: 0.4s;
}

.panel.active {
  display: block;
}
